.noFeedbackContainer {
    display: flex;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}

.noFeedbackText {
    font-size: 22px;
    margin-left: auto;
    margin-right: auto;
}